.grid-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 20px;
    border: 2px rgb(217, 154, 17) solid;
    background-color: rgb(19, 49, 76);
}
#grid-item{
    margin: 10px;
    padding: 30px;
    height: 20px;
    width: 20px;
    background-color: brown;
    color: white;
    border: 1px green dotted;
}
@media screen and (max-width:600px){
    .grid-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        padding: 10px;
        border: 3px rgb(0, 255, 64) solid;
        background-color: rgb(216, 0, 236);
    }
}